################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/obj
/.vs/MyAbp/v16/.suo
/.vs/VSWorkspaceState.json
